<script type="text/javascript">
    RED.nodes.registerType('sensor-online-client',{
        category: 'SensorOnline',
        color: '#a6bbcf',
        defaults: {
            url: {value:null},
            token: {value:null}
        },
        inputs:0,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"Sensor-Online-Client";
        }
    });
</script>

<script type="text/html" data-template-name="sensor-online-client">
    <div class="form-row">
        <label for="node-input-url"><i class="fa fa-tag"></i> Url</label>
        <input type="text" id="node-input-url" placeholder="Url">
    </div>
    
    <div class="form-row">
        <label for="node-input-token"><i class="fa fa-tag"></i> Token</label>
        <input type="text" id="node-input-token" placeholder="Token">
    </div>
</script>

<script type="text/html" data-help-name="sensor-online-client">
    <p>A simple node that converts the message payloads into all lower-case characters</p>
</script>
